
		<div class="container-fluid-full login" style="height:800px;">
		<div class="row-fluid">
					
			<div class="row-fluid">
				<div class="login-box">
					<h2>Login to your account</h2>
					
							<div class="input-prepend" title="Phone">
								<span class="add-on"><i class="halflings-icon user"></i></span>
								<input data-bind="value:phone" class="input-large span10" name="username" id="username" type="text" placeholder="type your phone number"/>
							</div>
							
							<div class="input-prepend" title="Password">
								<span class="add-on"><i class="halflings-icon lock"></i></span>
								<input data-bind="value: password,enter: ok" class="input-large span10" name="password" id="password" type="password" placeholder="type your password"/>
							</div>
							<div class="clearfix"></div>
							
							
							<div class="button-login">	
								<button data-bind="click: ok" type="submit" class="btn btn-primary">Login</button>
                               
							</div>
							<div class="clearfix"></div>
                            					
				</div><!--/span-->
			</div><!--/row-->
			

	</div><!--/.fluid-container-->
	
		</div><!--/fluid-row-->
	