<ion-view view-title="Submit Bin Collection Report" class="app-content">
    <ion-content class="has-header">
        <div class="padding">
            <form name="makeReportForm" novalidate="" ng-submit="reportCtrl.submit(makeReportForm)">
                <div class="list" style="margin-top:10%;">
                    <label class="item item-input item-select"
                           ng-class="{'has-error': makeReportForm.company.$invalid && reportCtrl.isSubmit}">
                        <div class="input-label">
                            Company
                        </div>
                        <select name="company" ng-model="reportCtrl.report.company"
                                ng-options="rec for rec in reportCtrl.companies" required>
                        </select>
                    </label>

                    <div class="form-errors" ng-messages="makeReportForm.company.$error"
                         ng-messages-include="templates/form_errors.html" ng-show="reportCtrl.isSubmit">
                    </div>
                    <button class="button button-block make-report-button">
                        <span ng-hide="reportCtrl.isSubmitting">Submit Report</span>
                        <span ng-show="reportCtrl.isSubmitting">Processing...</span>
                    </button>
                </div>
            </form>
        </div>
    </ion-content>
</ion-view>